/*Start Upcoming Events*/
.section-title h6 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    opacity: 0.5;
}

.section-title h2 {
    font-size: 92px;
    font-family: 'Cinzel', serif;
    letter-spacing: -2px;
    line-height: 1;
}

.exhibition-box .content-box h4 {
    font-size: 25px;
}

.exhibition-box {
    padding: 0 !important;
}

.col-lg-4:nth-child(1) .exhibition-box {
    padding-right: 0;
}

.col-lg-4:nth-child(2) .exhibition-box {
    padding: 0;
}

.col-lg-4:nth-child(3) .exhibition-box {
    padding-left: 0;
    margin: 50px 0;
}

.exhibition-box {
    margin-top: 60px;
}

/*End Upcoming Events*/
